<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <variable name="fatalLog" value=" ====================================================================================================
${newline}
發生時間：${longdate} ${newline}
Log等級：${level:uppercase=true} ${newline}
Logger：${logger} ${newline}
Source：${callsite:className=true} ${newline}
錯誤訊息：${message} ${newline}
StackTrace：${newline}
${exception:format=stacktrace}${newline}
Exception類別：${exception:format=type} ${newline}
Exception訊息：${exception:format=message} ${newline}
EXCEPTION OCCURRED：${newline}
${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}${newline}
====================================================================================================
${newline}" />

  <variable name="info" value=" ====================================================================================================
${newline}
發生時間：${longdate} ${newline}
Log等級：${level:uppercase=true} ${newline}
Logger：${logger} ${newline}
Source：${callsite:className=true} ${newline}
messge:${message} ${newline}
====================================================================================================
${newline}" />
  <targets>
    <target name="fatal" xsi:type="File"
            layout="${fatalLog}"
            fileName="${basedir}/Logs/Fatil/${shortdate}.txt"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="UTF-8" />

    <target name="info" xsi:type="File"
            fileName="${basedir}/Logs/Info/${shortdate}.txt"
            layout="${info}"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="UTF-8" />
  </targets>
  <rules>
    <!--
    Trace：用於追蹤，可以在程式裡需要追蹤的地方將訊息以Trace傳出。
    Debug：用於開發，於開發時將一些需要特別關注的訊息以Debug傳出。
    Info ：訊息，記錄不影響系統執行的訊息，通常會記錄登入登出或是資料的建立刪除、傳輸等。
    Warn ：警告，用於需要提示的訊息，例如庫存不足、貨物超賣、餘額即將不足等。
    Error：錯誤，記錄系統實行所發生的錯誤，例如資料庫錯誤、遠端連線錯誤、發生例外等。
    Fatal：致命，用來記錄會讓系統無法執行的錯誤，例如資料庫無法連線、重要資料損毀等。 -->
    <logger name="*" levels="Fatal" writeTo="fatal" />
    <logger name="*" levels="Info" writeTo="info" />
  </rules>
</nlog>