@{
    ViewBag.Title = "Table";
}

<div ng-controller="tableController as vm">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th><input class="form-control" type="search" ng-model="vm.search" /></th>
                </tr>
                <tr>
                    <th>請任選一筆</th>
                </tr>
                <tr ng-repeat="table in vm.data | filter:vm.search">
                    <td>
                        <a href="#" ng-click="vm.index=$index">{{table}}</a>
                        <br />
                        <div ng-if="vm.index===$index">
                            <a href="#" class="btn btn-default" ng-click="vm.generateDto(table)">產生table的DTO</a>
                            <a href="#" class="btn btn-default" ng-click="vm.generateInsert(table)">產生SP的INSERT語法</a>
                            <a href="#" class="btn btn-default" ng-click="vm.generateUpdate(table)">產生SP的UPDATE語法</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/app/table.controller.js"></script>
<script src="~/app/modal/tableModal.controller.js"></script>
}